#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 8em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card-container {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px 20px;
  justify-content: center;
}

@media (max-width: 900px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr);  
    grid-template-rows: repeat(6, 1fr);    
  }
}

@media (max-width: 600px) {
  .card-container {
    grid-template-columns: 1fr;            
    grid-template-rows: repeat(12, 1fr);   
  }
}

.card {
  padding: 2em;
  min-height: 150px;                    
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

img {
  height: 160px;
}