#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.scoreboard-container {
  display: flex;
  justify-content: space-between;
}

.scoreboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 5vw;
  padding: 10px;
  margin-bottom: 2vh;
  background-color: #444141;
  border-radius: 5px;
  border: 1.5px solid #050404;
}

.logo {
  height: 5vh;
  width: 5vh;
  aspect-ratio: 1/1;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
  margin-top: 50px;  
  gap: 10px 50px;
}

@media (max-width: 900px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr);  
    grid-template-rows: repeat(4, 1fr);    
  }
}

@media (max-width: 600px) {
  .card-container {
    grid-template-columns: 1fr;            
    grid-template-rows: repeat(12, 1fr);   
  }
}

@keyframes pulsate {
  0% {
    filter: drop-shadow(0 0 1em #646cffaa);
  }
  50% {
    filter: drop-shadow(0 0 2em #646cffaa);
  }
  100% {
    filter: drop-shadow(0 0 1em #646cffaa);
  }
}

.card {
  height: 20vh;                    
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  animation: pulsate 1.5s infinite;
}

img {
  height: 10vh;
  width: 5vw;
  aspect-ratio: 1/1;
}

